:root {
  --sage-green: #8b9d83;
  --mint-cream: #f4f7f5;
  --eucalyptus: #5f7a6e;
  --forest-deep: #2d3e36;
  --lavender-grey: #e8ebe9;
  --clay: #a78b71;
  --white-tea: #e8f7e0;
  --rosemary: #4a5d52;
  --chamomile: #d4d9d1;
  --golden-bronze: #e2b753;
}

@font-face {
  font-family: "FireSans";
  src: url("../../assets/fonts/FiraSansCondensed-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "FireSans", -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.6;
  background: var(--white-tea);
  color: var(--forest-deep);
  min-height: 100vh;

}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ========== BARRA DE PESQUISA ========== */

.search-container {
  position: relative;
  display: inline-block;
}

.input-pesquisa {
  font-size: small;
  color: rgb(96, 92, 92);
  height: 40px;
  width: 400px;
  padding: 12px 50px 12px 15px; 
  border: 2px solid var(--chamomile);
  border-radius: 30px;
  outline: none;
  transition: all 0.5s ease;
}

.input-pesquisa:hover {

}

.input-pesquisa:focus {
   border: 2px solid var(--sage-green);
}

.btn-pesquisa {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-pesquisa:hover {
  transform: translateY(-48%) scale(1.1);
}

.lupa-pesquisa {
  color: var(--forest-deep);
  font-size: 18px;
}

/* ========== FILTRO ========== */



.saudacao-orixa{
   
    padding-bottom:  30px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.saudacao-orixa h1 {
    color: rgba(45, 62, 54, 0.3);
    font-size: 100px;
    margin: 0; 
    font-family: 'Babylonica', cursive;
}

.saudacao-orixa h4 {
    color: rgba(45, 62, 54, 0.5);
    font-size: 40px;
    margin: 0; 
     font-family: 'Babylonica', cursive;
}

.tipoPonto{
  margin-top: 60px;
  margin-bottom: 5px;
  font-family: 'Babylonica', cursive;
  font-size: 40px  !important;
  color: rgba(45, 62, 54, 0.5) !important;
 
}
/*PONTOS*/
.texto-ponto {
  white-space: pre-line;
  color: var(--forest-deep);

  margin-left: 40px;

  
}
.teste{
 
}

.container-ponto{
    width: 600px;

    border-radius: 30px;

    padding-top: 60px;
    padding-left: 60px;
    padding-bottom: 60px;

    margin-bottom: 60px;
    
  

    background-color: var(--mint-cream);
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
}


.salvar-ponto button{
    background-color: transparent;
    border:none;

    margin-right: 50px;


}

.icone-salvar-ponto{
    color: var(--forest-deep);
    font-size: 20px;
}

.aspas-ponto-fim{
  margin-right: 60px;
}

.aspas-ponto{

  font-size:40px;
  font-style: italic;

}

.autor-ponto{

  color:gray;
  margin-top: 20px;
}
S
.nenhum-ponto{
  color:var(--forest-deep);
  font-size: 50px;
  margin-bottom: 60px;
  
  
}

.recomendacao-ponto{
  color: gray;
  font-size: 15px;
  margin-bottom: 200px;
}
.recomendacao-ponto a{
  color:gray;
  text-decoration: underline;

}
.recomendacao-ponto a:hover{
  transform: translateY(-2px);
}


/*  FERRAMENTAS ORIXAS */
.ferramentaOrixa{
  width: 200px;
  height: 200px;

  opacity: 0.3;

  display: inline;
  

  
}

.ferramentaEsq{
  margin-right: 20px;
}
.ferramentaDir{
  margin-left: 20px;
}


.containerTitulo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

.ferramentaXango{
  width: 160px !important;
}