* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #ffffff;
  color: #213547;
  min-height: 100vh;
  padding-top: 100px; /* altura do navbar */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}