*{
    margin:0;
    padding:0;
}

:root{
  --verde-fundo: #0a574d;
  --branco-off:#eff0e0;
  --branco-off-escuro:#dadcb7;
  --verde-fundo-escuro:#084941;
  --verde-fundo-escuro-2:#021710;
}

@font-face{
  font-family: "FireSans";
  src: url("./fonts/FiraSansCondensed-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}




body {
    position: relative; 
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, var(--verde-fundo-escuro-2), var(--verde-fundo-escuro), var(--verde-fundo));
       
}


body::after {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /*para permitir cliques*/

    background-image: url("../../img/arruda.png");
    background-repeat: no-repeat;
    background-position: -90% bottom;
    background-size: 120vw;

    opacity: 0.1; /* ajuste entre 0 (transparente) e 1 (opaco) */
    
}


.container1{
  max-width: 100%;
  height:800px;
  margin-left:20px;
  margin-top:40px;
  padding-top:35px;

  margin-top:25px;
  margin-bottom:35px;
}
.container2 {
  max-width: 100%;
  height:400px;
  margin-left:20px;
  margin-top:40px;
  padding-top:35px;

  margin-top:25px;
  margin-bottom:35px;
}
.container2 h1 {

  font-family:"FireSans";
  font-size: 80px;
  color:var(--branco-off);
  font-weight:400;



}
.container2 h2{
  font-family:"FireSans";
  font-size: 50px;
  color:var(--branco-off);
  font-weight:400;

}
.container2 p , li{
  font-family:"FireSans";
  color:var(--branco-off);

  margin-top:15px;
  margin-bottom:15px
}

.container2 li{
  margin-left:20px;
}

.container2 button{
  width: 150px;
  height:40px;
  background-color:var(--branco-off);

  border-radius: 20px;
  border:none;
  font-family:"FireSans";
  color:var(--verde-fundo);
  font-weight:700;
  font-size:20px;

  margin-top:20px;

  cursor:pointer;
}

.container2 button:hover{
  background-color:var(--branco-off-escuro);
  color:var(--verde-fundo-escuro);
}

.container {
  width: 100%;
  height: 20px;
  margin-bottom: 20px;

}

#home {
   display: inline-block;

  text-decoration: none;
  color: var(--branco-off);
  font-family: "FireSans";
  font-size: 20px;

  margin-top: 15px;
  margin-bottom: 20px;
  margin-left:15px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.menu-btn {
  padding: 10px 15px;
  background-color:transparent;
  border:none;
  color:var(--branco-off);
  font-size: 25px;
  cursor: pointer;
  float:right;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -220px; /* escondida */
  width: 200px;
  height: 100%;
  background: var(--branco-off);
  padding-top: 60px;
  transition: left 0.3s ease;
  border:3px solid var(--branco-off-escuro);
  
  
}

.sidebar a {
  display: block;
  color: var(--verde-fundo-escuro);
  padding: 12px;
  text-decoration: none;
}

.sidebar a:hover {
  background: var(--branco-off-escuro);
}

/* Sidebar visível */
.sidebar.open {
  right: 0;
}



.centraliza{
  max-width:100%;
  height:75px;

  padding-top:20px;



  background-color:var(--verde-fundo-escuro);
}
.centraliza .txt{
  font-family:"FireSans";
  color:var(--branco-off);
  margin-left:auto;

}