.fade-in {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*Animação aparição na tela*/
.hidden{
    opacity: 0;
    filter:blur(15px);
    transition: all 1s;
    transform:translateX(-100%)
}
.show{
    opacity: 1;
     filter:blur(0);
      transform:translateX(0);
    transition: all 1s ;
}

